#myBtn {
  padding: 15px 30px;
  font-size: 18px;
  background-color: skyblue;
  transition: 0.3s;
}

#myBtn:hover {
  background-color: lightgreen;
  
}

#myBtn:active {
  background-color: orange;
  transform: scale(0.9);
}
