
#cap {
  text-align: center;
  margin-bottom: 20px;
}

#registrationForm {
   
  padding: 12px;
  border-radius: 5px; 
}

#gap {
  background-color: #007bff;
  color: white;
  padding: 20px ; 
  border-radius: 30%;
    
}
#container {

  
  justify-content: center;
 
  width: 10%;
  text-align: center;
  border-radius: 30%;
 
  margin: 50px auto;  
  padding: 20px;
}

#username{
  padding: 20%;
  border-radius: 10%;
}

#email{

  padding: 20%;
  border-radius: 10%;
  
}

#password{
  padding: 20%;
  border-radius: 10%;
}

#confirmPassword{

  padding: 20%;
  border-radius: 10%;
  
}

#back{
  background-color: aliceblue;
}


